<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // opning a tannel
    const socket = io('/chat');
    // listing on errors
    socket.on("connect_error", err => {
      console.log(err instanceof Error); // true
      console.log(err.message); // not authorized
      console.log(err.data); // { content: "Please retry later" }
    });
    // retrieve list of connected users
    socket.on('connection',(data) => {
      console.log(data);
    })
    socket.on("message",(message) => {
      console.log(message);
    })
    socket.on('disconnetion', (data) => {
      console.log(data);
    });
    // function to emmit a message
/*     socket.emit("message",{
  reciever:"",
  content:"how much data is available",
  date:Date(),
})
 */    // listing on all events
    /* socket.onAny((event, ...args) => {
      console.log(`got - ${event} - event with the fallowing data`);
      console.log(args);
    }); */
  </script>
</body>
</html>
